@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); /* Importando fuentes de google. */
html{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #121113;



    font-family: 'Ubuntu', sans-serif;
}
.main{
   align-items: flex-start;
}

