.containerCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 5px;
  }
  .card {
    width: 200px;
    height: 354px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    margin: 18px;
    text-decoration: none;
  }
  .link{
    text-decoration: none;
    color: white;
  }
  
  .cardInner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    text-align: center;
    padding: 3px;
    justify-content: space-around;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  /* Prueba */
  .cardH2 {
    margin: 2px;
    size: 12px;
    font-weight: 100;
    
  }
  .cardImg {
    width: 150px;
    margin: 8px 0 8px 0;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
  .cardButton {
    width: 88px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #313234, #5c5d5e);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 12px;
    padding: 0.6em 1.5em;
  }
  
  .cardButton:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
  }
  
  @keyframes pulse512 {
    0% {
      box-shadow: 0 0 0 0 #8f949566;
    }
  
    70% {
      box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
  }

.divButton{

}