.mainForm{
    display: flex;
    justify-content: center;
    margin-top: 115px;
}
.inputForm{
    margin: 5px 0px 5px 0px;
}
.divForm{
    background-color :rgba(29, 29, 29, 0.725);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.91);
    display: flex;
    height: 250px;
    width: 350px;
    font-size: 12px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 11px; 
    border: 0px solid #800000;
}
.buttonForm{
    width: 85px;
    height: 30px;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #313234, #5c5d5e);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 12px;
    padding: 0.6em 1.5em;
    text-decoration: none;
    margin-top: 25px;
}
.buttonForm:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
  }
  
  @keyframes pulse512 {
    0% {
      box-shadow: 0 0 0 0 #8f949566;
    }
  
    70% {
      box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
  }
